<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="~/upload/logo.png" width="35" height="35" class="mr-2" />
        </div>
        <div class="sidebar-brand-text">GIA PHÚC VINH</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index", "Home")">
            <i class="fas fa-home"></i>
            <span>TRANG CHỦ</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index", "MoHinh")">
            <i class="fas fa-file-export"></i>
            <span>NHẬP KHO - XUẤT KHO</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index", "hanghoa")">
            <i class="fab fa-product-hunt"></i>
            <span>SẢN PHẨM</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index", "Nhomhanghoa")">
            <i class="fab fa-product-hunt"></i>
            <span>LOẠI SẢN PHẨM</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index", "Phieunhap")">
            <i class="fab fa-buromobelexperte"></i>
            <span>DS PHIẾU NHẬP</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index", "phieuxuat")">
            <i class="fab fa-buromobelexperte"></i>
            <span>DS PHIẾU XUẤT</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>HỆ THỐNG</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">CHỈ DÀNH CHO QUẢN LÝ</h6>
                <a class="collapse-item" href="@Url.Action("index", "Nhanvien")">DS NHÂN VIÊN</a>
                <a class="collapse-item" href="@Url.Action("index", "nhakho")">KHO</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-user-shield"></i>
            <span>NHÀ PHÁT TRIỂN</span>
        </a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
