@model IEnumerable<WebApplicationGPV.Models.CT_XuatKho>

@{
    ViewBag.Title = "CHI TIẾT PHIẾU XUẤT";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var phieuxuat = ViewBag.phieuxuat as WebApplicationGPV.Models.PhieuXuat;
}

@if (phieuxuat == null)
{
    <h3 class="text-danger">Không tồn tại phiếu xuất này.</h3>
}
else
{
    <div class="card">
        <div class="card-header">PHIẾU XUẤT</div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>MÃ PHIẾU XUẤT</td>
                    <td><b>@phieuxuat.ID_PhieuXuat</b></td>
                </tr>
                <tr>
                    <td>THỜI GIAN</td>
                    <td><b>@phieuxuat.ThoiGian</b></td>
                </tr>
                <tr>
                    <td>NHÂN VIÊN</td>
                    <td><b>@phieuxuat.NhanVien.TenNV</b></td>
                </tr>
                <tr>
                    <td>GHI CHÚ</td>
                    <td><b>@phieuxuat.Note</b></td>
                </tr>
            </table>
            <p>
                @using (Html.BeginForm())
                {
                    <button class="btn btn-primary" name="export_excel" value="export_excel"><i class="fa fa-file-excel-o"></i> Xuất Excel</button>
                    @Html.ActionLink("Trang chủ", "Index", "Home", new { }, new { @class = "btn btn-default" })
                }
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">CÁC HÀNG HÓA ĐÃ XUẤT KHO</div>
        <div class="card-body">
            <table class="table table-bordered table-striped" id="mtable">
                <thead>
                    <tr>
                        <th>
                            MÃ LÔ HÀNG
                        </th>
                        <th>
                            HÀNG HÓA
                        </th>
                        <th>
                            SỐ LƯỢNG
                        </th>
                        <th>
                            GHI CHÚ
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoHang.MaLoHang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoHang.HangHoa.TenHH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @section css{
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    }

    @section js{
        <script src="~/Content/theme/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/Content/theme/vendor/datatables/js/dataTables.bootstrap.min.js"></script>
        <script>

            $(document).ready(function () {
                $('#mtable').DataTable({
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "searching": false,
                    'language': {
                        "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Vietnamese.json",
                    }
                });
            });

        </script>

    }

}
